* {
    margin: 0;
    padding: 0;
}

#home {
    display: block;
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #1DA7F2;
}

#containButtons {
    position: absolute;
    background-color: #4A00F0;
    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 14px;
    box-shadow: #0006F0 1px 1px 10px 1px;
}

#section-hover {
    width: 100%;
    height: 20%;
}

#hover {
    width: 0px;
    height: 0px;
    margin: 2% 0 0 93%;
}

#hover:hover + #como-jogar {
    display: block;
}

#como-jogar {
    position: absolute;
    width: 80%;
    height: 80%;
    background-color: rgb(59, 59, 59);
    display: none;
    left: 15%;
    top: 10%;
    border-radius: 20px 0 20px 20px ;
    color: aliceblue;
}
#contentTitle{
    width: 100%;
    height: 60%;
    text-align: center;
}

#title{
    color: aliceblue;
    font-size: 2em;
}


#section-play{
    width: 100%;
    height: 10%;
    align-items: center;
    justify-content: center;
}

#section-play button{
    width: 15%;
    height: 100%;
    background-color: #1DA7F2;
    margin-left: 45%;
    text-decoration: none;
    border: #0006F0 solid 2px;
    border-radius: 24px;
    cursor: pointer;
}

#section-play button:hover{
    background-color: #A318F2;
    border: #ffffff solid 2px;
    box-shadow: #A318F2 1px 1px 10px 1px;

}


#section-play button a{
    color: #fff;
    text-decoration: none;
}
